body {
  font-family: "Arvo", serif;
}

.height {
  min-height: 100vh;
}

.header {
  background: url(../img/bg.jpg) center/cover no-repeat fixed;
  /* opacity: 0.9; */
}
.title-underline {
  width: 200px;
  height: 5px;
  margin: 0 auto;
  /* background: blue!important; */
}

.height-80 {
  min-height: 80vh;
}

.about-picture {
  background: url(../img/about-bcg.jpeg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
/* 
#filler,
#progress {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../img/projects-1.jpeg) center/cover no-repeat fixed;
} */
#filler {
  background: linear-gradient(white, white, grey);
}
/* #filler2 {
  background: linear-gradient(white, white, wheat);
} */
.bg-challenge {
  background: radial-gradient(white, white, lightblue);
}
.font {
  font-size: 2rem;
}
#logomain {
  width: auto;
  height: 40px;
}

.border1 {
  border: 8px ridge grey;

  border-radius: 15%;
  background: linear-gradient(white, lightgray);
}

.border2 {
  border: 3px groove white;
  border-radius: 20%;
}
